.PageContainer {
    /*width: calc(100% - 40px);
    margin-left: 40px;
    height: 100%;
    padding: 24px;*/
    width: calc(100% - 40px);
    height: calc(100vh - 50px);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 40px;
    display: flex;
    align-content: start;
    flex-flow: column;
    flex-wrap: wrap;
    flex-direction: column;
}

.PageHead {
    width: 100%;
    min-height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.Wrapper {
    width: auto;
    height: auto;
}

.Inline {
    display: inline-block;
    float: left;
    position: relative;
}

.Row {
    width: 100%;
    height: auto;
}

.Column {
    height: 100%;
    width: auto;
}

.Container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.FlexCenterVertical {
    display: flex;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.FlexCenterHorizontal {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
}

.FlexRight {
    display: flex;
    margin-left: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.SaveButton {
    max-height: 32px;
    width: calc(100px + 1vw);
}