.PanelContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 400px;
    max-height: 460px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--color-border-dark);
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    justify-content: center;
}

.PanelWrapper {
    margin-top: 8px;
    margin-left: 8px;
    min-width: 260px;
    width: 50%;
    max-width: 400px;
    height: auto;
    min-height: 266px;
    display: flex;
    flex-direction: column;
    /*background-color: #f3f3f3;*/
}

.CircleStatusOK {
    width: 16px;
    height: 16px;
    background-color: #34de50;
    border: 2px solid #2c9712;
    border-radius: 100%;
}

.CircleStatusError {
    width: 16px;
    height: 16px;
    background-color: #de6334;
    border: 2px solid #973212;
    border-radius: 100%;
}

.RefreshIcon {
    width: 20px !important;
    height: 20px !important;
    margin-left: 6px;
    margin-top: -1px;
    animation: Icon-spin 5s linear infinite;
}

@keyframes Icon-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}