<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Webpack App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/js/../css/mf1.css" rel="stylesheet" />
    <link href="/js/../css/mf2.css" rel="stylesheet" />
  </head>
  <body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
      <div id="mf1"></div>
      <div id="mf2"></div>
      <div id="mf3"></div>
    </div>
  </body>
</html>
